Node-RED flows/Sensors flow Node-RED.json
[
    {
        "id": "95078689.165788",
        "type": "tab",
        "label": "Sensors Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90e784ea.9f0c48",
        "type": "ui_gauge",
        "z": "95078689.165788",
        "name": "",
        "group": "99c85465.acb008",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Soil humidity max",
        "label": "C",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "25",
        "x": 1770,
        "y": 440,
        "wires": []
    },
    {
        "id": "c6954a42.2ea328",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board2_humidity",
        "topic": "Sensing_board2/Humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "349c6532.29d28a",
                "e2ba73a4.998c8",
                "24afadfa.6c7102"
            ]
        ]
    },
    {
        "id": "e2ba73a4.998c8",
        "type": "join",
        "z": "95078689.165788",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "60",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "d9ba854.5b6b878",
                "15a5b748.597b89",
                "b4204c42.8740d"
            ]
        ]
    },
    {
        "id": "d9ba854.5b6b878",
        "type": "function",
        "z": "95078689.165788",
        "name": "multiline for plot",
        "func": "var chartdata = msg.payload;\nvar msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\nvar msg6={};\nvar msg7={};\nvar msg8={};\nmsg1.payload= chartdata[0];\nmsg1.topic= \"Sensor1\";\nmsg2.payload=chartdata[1];\nmsg2.topic= \"Sensor2\";\nmsg3.payload= chartdata[3];\nmsg3.topic= \"Sensor3\";\nmsg4.payload=chartdata[4];\nmsg4.topic= \"Sensor4\";\nmsg5.payload= chartdata[5];\nmsg5.topic= \"Sensor5\";\nmsg6.payload=chartdata[6];\nmsg6.topic= \"Sensor6\";\nmsg7.payload= chartdata[7];\nmsg7.topic= \"Sensor7\";\nmsg8.payload=chartdata[8];\nmsg8.topic= \"Sensor8\";\n\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1480,
        "y": 560,
        "wires": [
            [
                "bd9120a5.a3886"
            ],
            [
                "bd9120a5.a3886"
            ],
            [
                "bd9120a5.a3886"
            ],
            [
                "bd9120a5.a3886"
            ],
            [
                "bd9120a5.a3886"
            ],
            [
                "bd9120a5.a3886"
            ],
            [
                "bd9120a5.a3886"
            ],
            [
                "bd9120a5.a3886"
            ]
        ]
    },
    {
        "id": "bd9120a5.a3886",
        "type": "ui_chart",
        "z": "95078689.165788",
        "name": "",
        "group": "99c85465.acb008",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historic soil humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1780,
        "y": 560,
        "wires": [
            [
                "f8d60c91.c0e28"
            ]
        ],
        "inputLabels": [
            "sensor 1"
        ]
    },
    {
        "id": "f8d60c91.c0e28",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2010,
        "y": 560,
        "wires": []
    },
    {
        "id": "b39bf5ee.065a88",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Humidity to file",
        "filename": "/home/pi/Documents/Soil_humidity/Soil_humidity_2.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 790,
        "y": 320,
        "wires": [
            [
                "2b3c38c1.b88c28"
            ]
        ]
    },
    {
        "id": "2b3c38c1.b88c28",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "9d2e440b.765ca8",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board1_humidity",
        "topic": "Sensing_board1/Humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "169997bd.46e698",
                "e2ba73a4.998c8"
            ]
        ]
    },
    {
        "id": "15a5b748.597b89",
        "type": "function",
        "z": "95078689.165788",
        "name": "find min and max ",
        "func": "var chartdata = msg.payload;\nvar sorted_arr=chartdata.sort();\nvar msg1={};\nvar msg2={};\nmsg1.payload=sorted_arr[0];\nmsg1.topic= \"Sensor1\";\nmsg2.payload=sorted_arr.slice(-1)[0];\nmsg2.topic= \"Sensor2\"\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1490,
        "y": 440,
        "wires": [
            [
                "d92d70b.252d29"
            ],
            [
                "90e784ea.9f0c48"
            ]
        ]
    },
    {
        "id": "d92d70b.252d29",
        "type": "ui_gauge",
        "z": "95078689.165788",
        "name": "",
        "group": "99c85465.acb008",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Soil humidity min",
        "label": "C",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "25",
        "x": 1770,
        "y": 340,
        "wires": []
    },
    {
        "id": "a1a1d373.8bdc7",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "b39bf5ee.065a88"
            ]
        ]
    },
    {
        "id": "349c6532.29d28a",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "a1a1d373.8bdc7"
            ]
        ]
    },
    {
        "id": "b4204c42.8740d",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 300,
        "wires": []
    },
    {
        "id": "20c53960.5864a6",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Humidity to file",
        "filename": "/home/pi/Documents/Soil_humidity/Soil_humidity_1.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 790,
        "y": 240,
        "wires": [
            [
                "e292b835.6d9388"
            ]
        ]
    },
    {
        "id": "e292b835.6d9388",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "2a258bc7.7ef054",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "20c53960.5864a6"
            ]
        ]
    },
    {
        "id": "169997bd.46e698",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "2a258bc7.7ef054"
            ]
        ]
    },
    {
        "id": "e8dc6bec.a9a678",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board4_humidity",
        "topic": "Sensing_board4/Humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 220,
        "y": 480,
        "wires": [
            [
                "107bdaf8.578535",
                "e2ba73a4.998c8"
            ]
        ]
    },
    {
        "id": "db56a077.30bca",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Humidity to file",
        "filename": "/home/pi/Documents/Soil_humidity/Soil_humidity_4.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 790,
        "y": 480,
        "wires": [
            [
                "6c7894c0.78150c"
            ]
        ]
    },
    {
        "id": "6c7894c0.78150c",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 480,
        "wires": []
    },
    {
        "id": "7d3ee394.a3dabc",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board3_humidity",
        "topic": "Sensing_board3/Humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "cfcfc891.a85748",
                "e2ba73a4.998c8"
            ]
        ]
    },
    {
        "id": "16f10c10.57f624",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 480,
        "wires": [
            [
                "db56a077.30bca"
            ]
        ]
    },
    {
        "id": "107bdaf8.578535",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "16f10c10.57f624"
            ]
        ]
    },
    {
        "id": "d04a73ad.b101b",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Humidity to file",
        "filename": "/home/pi/Documents/Soil_humidity/Soil_humidity_3.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 790,
        "y": 400,
        "wires": [
            [
                "cf49bc1f.21a11"
            ]
        ]
    },
    {
        "id": "cf49bc1f.21a11",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "483a24af.2b8f2c",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "d04a73ad.b101b"
            ]
        ]
    },
    {
        "id": "cfcfc891.a85748",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "483a24af.2b8f2c"
            ]
        ]
    },
    {
        "id": "d056777a.38d3c8",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board6_humidity",
        "topic": "Sensing_board6/Humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 220,
        "y": 640,
        "wires": [
            [
                "2501f20e.4168fe",
                "e2ba73a4.998c8"
            ]
        ]
    },
    {
        "id": "5701e24c.3e5e6c",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Humidity to file",
        "filename": "/home/pi/Documents/Soil_humidity/Soil_humidity_6.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 790,
        "y": 640,
        "wires": [
            [
                "97986c22.07dce"
            ]
        ]
    },
    {
        "id": "97986c22.07dce",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 640,
        "wires": []
    },
    {
        "id": "2200a9c6.108ed6",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board5_humidity",
        "topic": "Sensing_board5/Humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 220,
        "y": 560,
        "wires": [
            [
                "8b38bd87.082fd",
                "e2ba73a4.998c8"
            ]
        ]
    },
    {
        "id": "1b27f69.540e109",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 640,
        "wires": [
            [
                "5701e24c.3e5e6c"
            ]
        ]
    },
    {
        "id": "2501f20e.4168fe",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 640,
        "wires": [
            [
                "1b27f69.540e109"
            ]
        ]
    },
    {
        "id": "b1aeb92a.889d78",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Humidity to file",
        "filename": "/home/pi/Documents/Soil_humidity/Soil_humidity_5.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 790,
        "y": 560,
        "wires": [
            [
                "8df7d233.23af"
            ]
        ]
    },
    {
        "id": "8df7d233.23af",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "c586fff3.f98ec",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "b1aeb92a.889d78"
            ]
        ]
    },
    {
        "id": "8b38bd87.082fd",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "c586fff3.f98ec"
            ]
        ]
    },
    {
        "id": "5de04e27.5e76",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board8_humidity",
        "topic": "Sensing_board8/Humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 220,
        "y": 800,
        "wires": [
            [
                "5609f503.41e83c",
                "e2ba73a4.998c8"
            ]
        ]
    },
    {
        "id": "8a5cf8b9.7e63c8",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Humidity to file",
        "filename": "/home/pi/Documents/Soil_humidity/Soil_humidity_8.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 790,
        "y": 800,
        "wires": [
            [
                "221651ec.3302be"
            ]
        ]
    },
    {
        "id": "221651ec.3302be",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 800,
        "wires": []
    },
    {
        "id": "88f74441.f27b28",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board7_humidity",
        "topic": "Sensing_board7/Humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 220,
        "y": 720,
        "wires": [
            [
                "74a26448.3f660c",
                "e2ba73a4.998c8"
            ]
        ]
    },
    {
        "id": "5fb523eb.4910fc",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 800,
        "wires": [
            [
                "8a5cf8b9.7e63c8"
            ]
        ]
    },
    {
        "id": "5609f503.41e83c",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 800,
        "wires": [
            [
                "5fb523eb.4910fc"
            ]
        ]
    },
    {
        "id": "342ebe7b.f0a9f2",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Humidity to file",
        "filename": "/home/pi/Documents/Soil_humidity/Soil_humidity_7.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 790,
        "y": 720,
        "wires": [
            [
                "f50ee12e.5e27b"
            ]
        ]
    },
    {
        "id": "f50ee12e.5e27b",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 720,
        "wires": []
    },
    {
        "id": "a276aac7.0ab3c8",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 720,
        "wires": [
            [
                "342ebe7b.f0a9f2"
            ]
        ]
    },
    {
        "id": "74a26448.3f660c",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 720,
        "wires": [
            [
                "a276aac7.0ab3c8"
            ]
        ]
    },
    {
        "id": "365ea9b2.633756",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board2_Temperature",
        "topic": "Sensing_board2/Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 230,
        "y": 1080,
        "wires": [
            [
                "a9e33b61.da4ec8",
                "f47122ea.5acd5",
                "6bd354b0.f33cbc"
            ]
        ]
    },
    {
        "id": "120d10cf.2840ef",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Temperature to file",
        "filename": "/home/pi/Documents/Soil_Temperature/Soil_Temperature_2.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 1080,
        "wires": [
            [
                "dd6971f2.984bd"
            ]
        ]
    },
    {
        "id": "dd6971f2.984bd",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1080,
        "wires": []
    },
    {
        "id": "7f82bb62.4df8f4",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board1_Temperature",
        "topic": "Sensing_board1/Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "e939df9f.679cc",
                "f47122ea.5acd5"
            ]
        ]
    },
    {
        "id": "66a39589.29794c",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1080,
        "wires": [
            [
                "120d10cf.2840ef"
            ]
        ]
    },
    {
        "id": "a9e33b61.da4ec8",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1080,
        "wires": [
            [
                "66a39589.29794c"
            ]
        ]
    },
    {
        "id": "11a421be.b82d8e",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Temperature to file",
        "filename": "/home/pi/Documents/Soil_Temperature/Soil_Temperature_1.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 1000,
        "wires": [
            [
                "413a4df3.b8dbc4"
            ]
        ]
    },
    {
        "id": "413a4df3.b8dbc4",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1000,
        "wires": []
    },
    {
        "id": "67abea6f.03b104",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1000,
        "wires": [
            [
                "11a421be.b82d8e"
            ]
        ]
    },
    {
        "id": "e939df9f.679cc",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1000,
        "wires": [
            [
                "67abea6f.03b104"
            ]
        ]
    },
    {
        "id": "e9b42cce.63086",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board4_Temperature",
        "topic": "Sensing_board4/Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 230,
        "y": 1240,
        "wires": [
            [
                "297bda91.a0da96",
                "f47122ea.5acd5"
            ]
        ]
    },
    {
        "id": "64cb08c9.292cb8",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Temperature to file",
        "filename": "/home/pi/Documents/Soil_Temperature/Soil_Temperature_4.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 1240,
        "wires": [
            [
                "8d0f4e01.5349f"
            ]
        ]
    },
    {
        "id": "8d0f4e01.5349f",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1240,
        "wires": []
    },
    {
        "id": "896d4ec1.c98c4",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board3_Temperature",
        "topic": "Sensing_board3/Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 230,
        "y": 1160,
        "wires": [
            [
                "a06840d7.ae4fe",
                "f47122ea.5acd5"
            ]
        ]
    },
    {
        "id": "e8738fd8.3aa68",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1240,
        "wires": [
            [
                "64cb08c9.292cb8"
            ]
        ]
    },
    {
        "id": "297bda91.a0da96",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1240,
        "wires": [
            [
                "e8738fd8.3aa68"
            ]
        ]
    },
    {
        "id": "45f3190a.b06678",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Temperature to file",
        "filename": "/home/pi/Documents/Soil_Temperature/Soil_Temperature_3.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 1160,
        "wires": [
            [
                "648d2210.a7228c"
            ]
        ]
    },
    {
        "id": "648d2210.a7228c",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1160,
        "wires": []
    },
    {
        "id": "af425b1c.c99ee8",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1160,
        "wires": [
            [
                "45f3190a.b06678"
            ]
        ]
    },
    {
        "id": "a06840d7.ae4fe",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1160,
        "wires": [
            [
                "af425b1c.c99ee8"
            ]
        ]
    },
    {
        "id": "a769e550.e08858",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board6_Temperature",
        "topic": "Sensing_board6/Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 230,
        "y": 1400,
        "wires": [
            [
                "e9fb0bb4.2091c8",
                "f47122ea.5acd5"
            ]
        ]
    },
    {
        "id": "58e3406.19961c",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Temperature to file",
        "filename": "/home/pi/Documents/Soil_Temperature/Soil_Temperature_6.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 1400,
        "wires": [
            [
                "90ffa464.9f48d8"
            ]
        ]
    },
    {
        "id": "90ffa464.9f48d8",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1400,
        "wires": []
    },
    {
        "id": "26196767.ab61c8",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board5_Temperature",
        "topic": "Sensing_board5/Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 230,
        "y": 1320,
        "wires": [
            [
                "b8dababf.fd4f78",
                "f47122ea.5acd5"
            ]
        ]
    },
    {
        "id": "15e73346.ed6f3d",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1400,
        "wires": [
            [
                "58e3406.19961c"
            ]
        ]
    },
    {
        "id": "e9fb0bb4.2091c8",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1400,
        "wires": [
            [
                "15e73346.ed6f3d"
            ]
        ]
    },
    {
        "id": "46ae7b76.1dcce4",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Temperature to file",
        "filename": "/home/pi/Documents/Soil_Temperature/Soil_Temperature_5.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 1320,
        "wires": [
            [
                "1294d5d.f7aaf2a"
            ]
        ]
    },
    {
        "id": "1294d5d.f7aaf2a",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e6289143.78e0c",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1320,
        "wires": [
            [
                "46ae7b76.1dcce4"
            ]
        ]
    },
    {
        "id": "b8dababf.fd4f78",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1320,
        "wires": [
            [
                "e6289143.78e0c"
            ]
        ]
    },
    {
        "id": "37b28bc.0edcf74",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board8_Temperature",
        "topic": "Sensing_board8/Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 230,
        "y": 1560,
        "wires": [
            [
                "8b6016fa.1c29b8",
                "f47122ea.5acd5"
            ]
        ]
    },
    {
        "id": "cd35e6ed.5b1c88",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Temperature to file",
        "filename": "/home/pi/Documents/Soil_Temperature/Soil_Temperature_8.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 1560,
        "wires": [
            [
                "d14ac03e.37883"
            ]
        ]
    },
    {
        "id": "d14ac03e.37883",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1560,
        "wires": []
    },
    {
        "id": "b9c501f5.91d8d",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board7_Temperature",
        "topic": "Sensing_board7/Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 230,
        "y": 1480,
        "wires": [
            [
                "c0d8a957.cb68f8",
                "f47122ea.5acd5"
            ]
        ]
    },
    {
        "id": "4e76a82a.023e88",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1560,
        "wires": [
            [
                "cd35e6ed.5b1c88"
            ]
        ]
    },
    {
        "id": "8b6016fa.1c29b8",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1560,
        "wires": [
            [
                "4e76a82a.023e88"
            ]
        ]
    },
    {
        "id": "85fb1e82.558ad",
        "type": "file",
        "z": "95078689.165788",
        "name": "Soil Temperature to file",
        "filename": "/home/pi/Documents/Soil_Temperature/Soil_Temperature_7.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 1480,
        "wires": [
            [
                "f7c56ff2.c4fc5"
            ]
        ]
    },
    {
        "id": "f7c56ff2.c4fc5",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1480,
        "wires": []
    },
    {
        "id": "9cdbd3de.2e5b4",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1480,
        "wires": [
            [
                "85fb1e82.558ad"
            ]
        ]
    },
    {
        "id": "c0d8a957.cb68f8",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1480,
        "wires": [
            [
                "9cdbd3de.2e5b4"
            ]
        ]
    },
    {
        "id": "418e543b.d872ac",
        "type": "ui_gauge",
        "z": "95078689.165788",
        "name": "",
        "group": "62384b1.a3a98b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Soil Temperature max",
        "label": "C",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "25",
        "x": 1790,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f47122ea.5acd5",
        "type": "join",
        "z": "95078689.165788",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "60",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1270,
        "y": 1280,
        "wires": [
            [
                "37c91305.34b50c",
                "cf13cd54.e079b",
                "a142a8fb.e34278"
            ]
        ]
    },
    {
        "id": "37c91305.34b50c",
        "type": "function",
        "z": "95078689.165788",
        "name": "multiline for plot",
        "func": "var chartdata = msg.payload;\nvar msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\nvar msg6={};\nvar msg7={};\nvar msg8={};\nmsg1.payload= chartdata[0];\nmsg1.topic= \"Sensor1\";\nmsg2.payload=chartdata[1];\nmsg2.topic= \"Sensor2\";\nmsg3.payload= chartdata[3];\nmsg3.topic= \"Sensor3\";\nmsg4.payload=chartdata[4];\nmsg4.topic= \"Sensor4\";\nmsg5.payload= chartdata[5];\nmsg5.topic= \"Sensor5\";\nmsg6.payload=chartdata[6];\nmsg6.topic= \"Sensor6\";\nmsg7.payload= chartdata[7];\nmsg7.topic= \"Sensor7\";\nmsg8.payload=chartdata[8];\nmsg8.topic= \"Sensor8\";\n\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1480,
        "y": 1320,
        "wires": [
            [
                "60add8c.5f10828"
            ],
            [
                "60add8c.5f10828"
            ],
            [
                "60add8c.5f10828"
            ],
            [
                "60add8c.5f10828"
            ],
            [
                "60add8c.5f10828"
            ],
            [
                "60add8c.5f10828"
            ],
            [
                "60add8c.5f10828"
            ],
            [
                "60add8c.5f10828"
            ]
        ]
    },
    {
        "id": "60add8c.5f10828",
        "type": "ui_chart",
        "z": "95078689.165788",
        "name": "",
        "group": "62384b1.a3a98b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historic soil Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1790,
        "y": 1320,
        "wires": [
            [
                "634ee4a5.b716ac"
            ]
        ],
        "inputLabels": [
            "sensor 1"
        ]
    },
    {
        "id": "634ee4a5.b716ac",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2010,
        "y": 1320,
        "wires": []
    },
    {
        "id": "cf13cd54.e079b",
        "type": "function",
        "z": "95078689.165788",
        "name": "find min and max ",
        "func": "var chartdata = msg.payload;\nvar sorted_arr=chartdata.sort();\nvar msg1={};\nvar msg2={};\nmsg1.payload=sorted_arr[0];\nmsg1.topic= \"Sensor1\";\nmsg2.payload=sorted_arr.slice(-1)[0];\nmsg2.topic= \"Sensor2\"\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1490,
        "y": 1200,
        "wires": [
            [
                "13934980.88d9d7"
            ],
            [
                "418e543b.d872ac"
            ]
        ]
    },
    {
        "id": "13934980.88d9d7",
        "type": "ui_gauge",
        "z": "95078689.165788",
        "name": "",
        "group": "62384b1.a3a98b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Soil Temperature min",
        "label": "C",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "25",
        "x": 1780,
        "y": 1100,
        "wires": []
    },
    {
        "id": "a142a8fb.e34278",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ce1de8f9.ca8288",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board2_Light",
        "topic": "Sensing_board2/Light",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 210,
        "y": 1820,
        "wires": [
            [
                "785a692b.0384e8",
                "fc565946.a0d408",
                "b847402b.bcc8a"
            ]
        ]
    },
    {
        "id": "bf51bfa0.5e3eb",
        "type": "file",
        "z": "95078689.165788",
        "name": "Light to file",
        "filename": "/home/pi/Documents/Light/Light_2.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 1820,
        "wires": [
            [
                "6e30f43f.8b06dc"
            ]
        ]
    },
    {
        "id": "6e30f43f.8b06dc",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1820,
        "wires": []
    },
    {
        "id": "5f03631d.657cec",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board1_Light",
        "topic": "Sensing_board1/Light",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 210,
        "y": 1740,
        "wires": [
            [
                "5070648d.29f7ac",
                "fc565946.a0d408"
            ]
        ]
    },
    {
        "id": "b2649306.fbd4c",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1820,
        "wires": [
            [
                "bf51bfa0.5e3eb"
            ]
        ]
    },
    {
        "id": "785a692b.0384e8",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1820,
        "wires": [
            [
                "b2649306.fbd4c"
            ]
        ]
    },
    {
        "id": "fd2dea6e.29bc98",
        "type": "file",
        "z": "95078689.165788",
        "name": "Light to file",
        "filename": "/home/pi/Documents/Light/Light_1.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 1740,
        "wires": [
            [
                "ab4b965c.cd6398"
            ]
        ]
    },
    {
        "id": "ab4b965c.cd6398",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1740,
        "wires": []
    },
    {
        "id": "bd06cdd7.042f2",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1740,
        "wires": [
            [
                "fd2dea6e.29bc98"
            ]
        ]
    },
    {
        "id": "5070648d.29f7ac",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1740,
        "wires": [
            [
                "bd06cdd7.042f2"
            ]
        ]
    },
    {
        "id": "9f64c0e4.84d96",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board4_Light",
        "topic": "Sensing_board4/Light",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 210,
        "y": 1980,
        "wires": [
            [
                "d5c6e8a5.a216f8",
                "4328b768.16f548"
            ]
        ]
    },
    {
        "id": "101601be.f56eee",
        "type": "file",
        "z": "95078689.165788",
        "name": "Light to file",
        "filename": "/home/pi/Documents/Light/Light_4.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 1980,
        "wires": [
            [
                "becfa263.bb796"
            ]
        ]
    },
    {
        "id": "becfa263.bb796",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1980,
        "wires": []
    },
    {
        "id": "7ec701a0.bf237",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board3_Light",
        "topic": "Sensing_board3/Light",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 210,
        "y": 1900,
        "wires": [
            [
                "4f32a995.ac1f38",
                "4328b768.16f548"
            ]
        ]
    },
    {
        "id": "f9ba4473.6b5508",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1980,
        "wires": [
            [
                "101601be.f56eee"
            ]
        ]
    },
    {
        "id": "d5c6e8a5.a216f8",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1980,
        "wires": [
            [
                "f9ba4473.6b5508"
            ]
        ]
    },
    {
        "id": "c1ec39db.5f19c8",
        "type": "file",
        "z": "95078689.165788",
        "name": "Light to file",
        "filename": "/home/pi/Documents/Light/Light_3.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 1900,
        "wires": [
            [
                "b4592741.339f08"
            ]
        ]
    },
    {
        "id": "b4592741.339f08",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1900,
        "wires": []
    },
    {
        "id": "3116648a.156b5c",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1900,
        "wires": [
            [
                "c1ec39db.5f19c8"
            ]
        ]
    },
    {
        "id": "4f32a995.ac1f38",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1900,
        "wires": [
            [
                "3116648a.156b5c"
            ]
        ]
    },
    {
        "id": "61ac483f.afc7f8",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board6_Light",
        "topic": "Sensing_board6/Light",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 210,
        "y": 2140,
        "wires": [
            [
                "5a5148ce.fd60e8",
                "187cbf1.a7aab41"
            ]
        ]
    },
    {
        "id": "2698d210.e5b0fe",
        "type": "file",
        "z": "95078689.165788",
        "name": "Light to file",
        "filename": "/home/pi/Documents/Light/Light_6.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 2140,
        "wires": [
            [
                "434ad209.b98c8c"
            ]
        ]
    },
    {
        "id": "434ad209.b98c8c",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 2140,
        "wires": []
    },
    {
        "id": "bedd9fb6.607d",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board5_Light",
        "topic": "Sensing_board5/Light",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 210,
        "y": 2060,
        "wires": [
            [
                "329b0d75.a51892",
                "187cbf1.a7aab41"
            ]
        ]
    },
    {
        "id": "83a710fc.dca03",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 2140,
        "wires": [
            [
                "2698d210.e5b0fe"
            ]
        ]
    },
    {
        "id": "5a5148ce.fd60e8",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 2140,
        "wires": [
            [
                "83a710fc.dca03"
            ]
        ]
    },
    {
        "id": "9264d097.9363c",
        "type": "file",
        "z": "95078689.165788",
        "name": "Light to file",
        "filename": "/home/pi/Documents/Light/Light_5.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 2060,
        "wires": [
            [
                "b8e842e2.0294c"
            ]
        ]
    },
    {
        "id": "b8e842e2.0294c",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 2060,
        "wires": []
    },
    {
        "id": "3018d235.f8917e",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 2060,
        "wires": [
            [
                "9264d097.9363c"
            ]
        ]
    },
    {
        "id": "329b0d75.a51892",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 2060,
        "wires": [
            [
                "3018d235.f8917e"
            ]
        ]
    },
    {
        "id": "3abdb071.421f4",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board8_Light",
        "topic": "Sensing_board8/Light",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 210,
        "y": 2300,
        "wires": [
            [
                "b3c678f6.2398b8",
                "187cbf1.a7aab41"
            ]
        ]
    },
    {
        "id": "7cedfeea.19a1e",
        "type": "file",
        "z": "95078689.165788",
        "name": "Light to file",
        "filename": "/home/pi/Documents/Light/Light_8.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 2300,
        "wires": [
            [
                "65479046.cab44"
            ]
        ]
    },
    {
        "id": "65479046.cab44",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 2300,
        "wires": []
    },
    {
        "id": "5b137286.170e4c",
        "type": "mqtt in",
        "z": "95078689.165788",
        "name": "board7_Light",
        "topic": "Sensing_board7/Light",
        "qos": "2",
        "datatype": "auto",
        "broker": "27903ab0.ddf166",
        "x": 210,
        "y": 2220,
        "wires": [
            [
                "89a881fc.d6c06",
                "187cbf1.a7aab41"
            ]
        ]
    },
    {
        "id": "923ec159.423a8",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 2300,
        "wires": [
            [
                "7cedfeea.19a1e"
            ]
        ]
    },
    {
        "id": "b3c678f6.2398b8",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 2300,
        "wires": [
            [
                "923ec159.423a8"
            ]
        ]
    },
    {
        "id": "3a256a38.816126",
        "type": "file",
        "z": "95078689.165788",
        "name": "Light to file",
        "filename": "/home/pi/Documents/Light/Light_7.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 2220,
        "wires": [
            [
                "f5e858f8.203528"
            ]
        ]
    },
    {
        "id": "f5e858f8.203528",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 2220,
        "wires": []
    },
    {
        "id": "8270d69b.f89638",
        "type": "csv",
        "z": "95078689.165788",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Timestamp, Value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 2220,
        "wires": [
            [
                "3a256a38.816126"
            ]
        ]
    },
    {
        "id": "89a881fc.d6c06",
        "type": "function",
        "z": "95078689.165788",
        "name": "add timestamp",
        "func": "var msg1={};\nmsg1= Date.now().toString();\nmsg.payload=[msg1,msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 2220,
        "wires": [
            [
                "8270d69b.f89638"
            ]
        ]
    },
    {
        "id": "f99d5755.f14278",
        "type": "ui_gauge",
        "z": "95078689.165788",
        "name": "",
        "group": "fc644e9d.0e4b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Light intensity max- DR+shift",
        "label": "lux",
        "format": "{{value}}",
        "min": "0",
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1770,
        "y": 1780,
        "wires": []
    },
    {
        "id": "fc565946.a0d408",
        "type": "join",
        "z": "95078689.165788",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "60",
        "count": "0",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 1780,
        "wires": [
            [
                "a457cf43.952f4",
                "797fcbc9.27d314",
                "e4a6d610.d6e888"
            ]
        ]
    },
    {
        "id": "a457cf43.952f4",
        "type": "function",
        "z": "95078689.165788",
        "name": "multiline for plot",
        "func": "var chartdata = msg.payload;\nvar msg1={};\nvar msg2={};\nmsg1.payload= chartdata[0];\nmsg1.topic= \"Sensor1\";\nmsg2.payload=chartdata[1];\nmsg2.topic= \"Sensor2\";\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1440,
        "y": 1840,
        "wires": [
            [
                "692e1e62.f61a7"
            ],
            [
                "692e1e62.f61a7"
            ]
        ]
    },
    {
        "id": "692e1e62.f61a7",
        "type": "ui_chart",
        "z": "95078689.165788",
        "name": "",
        "group": "fc644e9d.0e4b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historic light intensity-DR+shift",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1750,
        "y": 1840,
        "wires": [
            [
                "f4013272.fd0ab"
            ]
        ],
        "inputLabels": [
            "sensor 1"
        ]
    },
    {
        "id": "f4013272.fd0ab",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2030,
        "y": 1840,
        "wires": []
    },
    {
        "id": "797fcbc9.27d314",
        "type": "function",
        "z": "95078689.165788",
        "name": "find min and max ",
        "func": "var chartdata = msg.payload;\nvar sorted_arr=chartdata.sort();\nvar msg1={};\nvar msg2={};\nmsg1.payload=sorted_arr[0];\nmsg1.topic= \"Sensor1\";\nmsg2.payload=sorted_arr.slice(-1)[0];\nmsg2.topic= \"Sensor2\"\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1450,
        "y": 1780,
        "wires": [
            [
                "9584ac32.5ea1a"
            ],
            [
                "f99d5755.f14278"
            ]
        ]
    },
    {
        "id": "9584ac32.5ea1a",
        "type": "ui_gauge",
        "z": "95078689.165788",
        "name": "",
        "group": "fc644e9d.0e4b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Light intensity min-DR+shif",
        "label": "lux",
        "format": "{{value}}",
        "min": "0",
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1760,
        "y": 1720,
        "wires": []
    },
    {
        "id": "e4a6d610.d6e888",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 1720,
        "wires": []
    },
    {
        "id": "1128687a.8ff8e8",
        "type": "ui_gauge",
        "z": "95078689.165788",
        "name": "",
        "group": "fc644e9d.0e4b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Soil Temperature max",
        "label": "C",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "25",
        "x": 1750,
        "y": 1940,
        "wires": []
    },
    {
        "id": "4328b768.16f548",
        "type": "join",
        "z": "95078689.165788",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "60",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 1940,
        "wires": [
            [
                "3eaf3cda.20e664",
                "f8c918fd.2c34f8",
                "4df1302f.2919c"
            ]
        ]
    },
    {
        "id": "3eaf3cda.20e664",
        "type": "function",
        "z": "95078689.165788",
        "name": "multiline for plot",
        "func": "var chartdata = msg.payload;\nvar msg1={};\nvar msg2={};\nmsg1.payload= chartdata[0];\nmsg1.topic= \"Sensor3\";\nmsg2.payload=chartdata[1];\nmsg2.topic= \"Sensor4\";\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1440,
        "y": 2000,
        "wires": [
            [
                "af6c4ba6.289158"
            ],
            [
                "af6c4ba6.289158"
            ]
        ]
    },
    {
        "id": "af6c4ba6.289158",
        "type": "ui_chart",
        "z": "95078689.165788",
        "name": "",
        "group": "fc644e9d.0e4b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historic Light intensity-LD+shift",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1770,
        "y": 2000,
        "wires": [
            [
                "29376f72.bf6a1"
            ]
        ],
        "inputLabels": [
            "sensor 1"
        ]
    },
    {
        "id": "29376f72.bf6a1",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2030,
        "y": 2000,
        "wires": []
    },
    {
        "id": "f8c918fd.2c34f8",
        "type": "function",
        "z": "95078689.165788",
        "name": "find min and max ",
        "func": "var chartdata = msg.payload;\nvar sorted_arr=chartdata.sort();\nvar msg1={};\nvar msg2={};\nmsg1.payload=sorted_arr[0];\nmsg1.topic= \"Sensor1\";\nmsg2.payload=sorted_arr.slice(-1)[0];\nmsg2.topic= \"Sensor2\"\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1450,
        "y": 1940,
        "wires": [
            [
                "a20380e8.593bd"
            ],
            [
                "1128687a.8ff8e8"
            ]
        ]
    },
    {
        "id": "a20380e8.593bd",
        "type": "ui_gauge",
        "z": "95078689.165788",
        "name": "",
        "group": "fc644e9d.0e4b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Light intensity min-LD+shift",
        "label": "lux",
        "format": "{{value}}",
        "min": "0",
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1780,
        "y": 1880,
        "wires": []
    },
    {
        "id": "4df1302f.2919c",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 1880,
        "wires": []
    },
    {
        "id": "9ece5d68.a5481",
        "type": "ui_gauge",
        "z": "95078689.165788",
        "name": "",
        "group": "fc644e9d.0e4b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Light intensity max-LD",
        "label": "lux",
        "format": "{{value}}",
        "min": "0",
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "x": 1770,
        "y": 2180,
        "wires": []
    },
    {
        "id": "187cbf1.a7aab41",
        "type": "join",
        "z": "95078689.165788",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "60",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1190,
        "y": 2180,
        "wires": [
            [
                "dee3d26.41d9f3",
                "6e141456.58285c",
                "d84a62b.16a36a"
            ]
        ]
    },
    {
        "id": "dee3d26.41d9f3",
        "type": "function",
        "z": "95078689.165788",
        "name": "multiline for plot",
        "func": "var chartdata = msg.payload;\nvar msg1={};\nvar msg2={};\nmsg1.payload= chartdata[0];\nmsg1.topic= \"Sensor1\";\nmsg2.payload=chartdata[1];\nmsg2.topic= \"Sensor2\";\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1460,
        "y": 2240,
        "wires": [
            [
                "4cacb282.3dd80c"
            ],
            [
                "4cacb282.3dd80c"
            ]
        ]
    },
    {
        "id": "4cacb282.3dd80c",
        "type": "ui_chart",
        "z": "95078689.165788",
        "name": "",
        "group": "fc644e9d.0e4b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historic Light intensity-LD",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1770,
        "y": 2240,
        "wires": [
            [
                "85b9a93.2a0f658"
            ]
        ],
        "inputLabels": [
            "sensor 1"
        ]
    },
    {
        "id": "85b9a93.2a0f658",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1990,
        "y": 2240,
        "wires": []
    },
    {
        "id": "6e141456.58285c",
        "type": "function",
        "z": "95078689.165788",
        "name": "find min and max ",
        "func": "var chartdata = msg.payload;\nvar sorted_arr=chartdata.sort();\nvar msg1={};\nvar msg2={};\nmsg1.payload=sorted_arr[0];\nmsg1.topic= \"Sensor1\";\nmsg2.payload=sorted_arr.slice(-1)[0];\nmsg2.topic= \"Sensor2\"\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1470,
        "y": 2180,
        "wires": [
            [
                "7682aa22.23ad04"
            ],
            [
                "9ece5d68.a5481"
            ]
        ]
    },
    {
        "id": "7682aa22.23ad04",
        "type": "ui_gauge",
        "z": "95078689.165788",
        "name": "",
        "group": "fc644e9d.0e4b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Light intensity min-LD",
        "label": "lux",
        "format": "{{value}}",
        "min": "0",
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1790,
        "y": 2120,
        "wires": []
    },
    {
        "id": "d84a62b.16a36a",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 2120,
        "wires": []
    },
    {
        "id": "24afadfa.6c7102",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "6bd354b0.f33cbc",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b847402b.bcc8a",
        "type": "debug",
        "z": "95078689.165788",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1780,
        "wires": []
    },
    {
        "id": "99c85465.acb008",
        "type": "ui_group",
        "name": "Soil humidity",
        "tab": "4ac46435.3c261c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "27903ab0.ddf166",
        "type": "mqtt-broker",
        "name": "TEST",
        "broker": "10.10.10.197",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "62384b1.a3a98b4",
        "type": "ui_group",
        "name": "Soil temperature",
        "tab": "4ac46435.3c261c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc644e9d.0e4b6",
        "type": "ui_group",
        "name": "Light sensors",
        "tab": "4ac46435.3c261c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "4ac46435.3c261c",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]